*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.header{
    width: 100%;
    background-color: #1e212a;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.font img{
    line-height: 50px;
    height: 50px;
    position: absolute;
    left: 10%;
    border-color: 1px solid bisque;
}
.nav{
    float: right;
    height: 100%;
    line-height: 50px;
}
.nav>ul li{
    list-style: none;
    margin-left: 10px;
    display: inline-block;
   
}
.nav>ul li a{
    text-decoration: none;
    color: #fff;
}

.content{
    width: 100%;
    margin-top: 50px;
}

.content .banner{
    width: 100%;
    height: 300px;
}

.service{
    width: 1200px;
    height: 200px;
    margin: 10px auto;
}
.service h3{
    width: 1000px;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid gainsboro;
    height: 30px;
    text-align: center;
    color: #1e212a;
}
.service_content{
    width: 1000px;
    height: 160px;

    background-color: lightgrey;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_content img{
    width: 80px;
    height: 80px;
    margin: 0 60px;

}

#container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}
#container h3{
    width: 1000px;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid gainsboro;
    height: 30px;
    text-align: center;
    margin:10px 0;
    color: #1e212a;

}
#container ul{
    width: 400px;
}

#container ul li {
    width: 100%;
    height: 220px;
    float: left;
    list-style: none;
    text-align: center;
    flex: 1 ;
    flex-wrap: wrap;

}
#container ul li h1{
    font-size: 16px;
}
#container ul li h2{
    font-size: 12px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: left;
}


/* 页脚 */
.footer{
    background-color: lightgrey;
    width: 100%;
    height: 160px;
    margin-top: 40px;
}   
.footer .foot{
    width: 1000px;
    height: 140px;
    margin: 0px  auto ;
    border-bottom: 1px solid black;
    text-align: center;
}
.footer .foot ul{
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 20px 0;   
}
.footer .foot li{
    list-style: none;
    width: 24%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.footer .foot li span{
    font-size: 12px;
    display: block;
}
.footer .foot li img{
    width: 80px;
    height: 80px;
}

.page {
   
    margin: 0 auto;
    float: right;
}
.page button{
    width: 60px;
    height: 20px;
    background:#1e212a;
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
  
    
}
.page button:hover{
    background-color: red;
}
